
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{


    --font1:'Roboto', sans-serif;
}
*{

    margin: 0;
    padding: 0;
}
.Navigation
{
height: 35px;

display: flex;
justify-content: space-between;
align-items: center;
font-family: var(--font1);
font-style: italic;
margin-top: 5px;
font-weight: bold;
}
.content
{

    height: 50px;
    

}
.Footer
{
    height: 55px;



}
.nav-left
{

    
    display: flex;
}
.nav-left ul li
{
    list-style: none;
    text-decoration: none;
    margin: 0 20px;
    font-family: var(--font1);
    text-decoration-color: beige;
    
}
.nav-left ul 
{
    display: flex;
    align-items: center;
    text-decoration-color: beige;
    
}
.nav-left ul li a{

    text-decoration: none;
}
.color
{

    text-decoration-color: white;
}