*{

    margin: 0;
    padding: 0;
}
.Navigation
{
height: 35px;
background-color: black;
}
.content
{

    height: 50px;
    background-color: purple;

}
.Footer
{
    height: 55px;
background-color: green;


}