
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&family=Roboto&display=swap');
:root{


    --font1:'Roboto', sans-serif;
    --font2:'Gothic A1', sans-serif;
    --main-bg-color:brown;
}
*{

    margin: 8px;
    padding: 0;
}
.Navigation
{
height: 55px;

display: flex;
justify-content: space-between;
align-items: center;
font-family: var(--font1);

margin-top: 5px;
font-weight: bold;
font-size: 20px;
}
.content
{

    display: flex;
    height: 290px;

    font-size: 15px;
    font-family: var(--font2);
    align-items: center;
    text-align: justify;
    

}

.content-left p
{
font-size: 30px;
width: 50%;
display: flex;


}
.Footer
{
    height: 55px;



}
.nav-left
{

    
    display: flex;
    font-weight: italic;
    font-size: 10px;
}
.nav-left p1
{

    font-size: 15px;


}
.nav-left ul li
{
    list-style: none;
    text-decoration: none;
    margin: 0 20px;
    font-family: var(--font1);
    text-decoration-color: beige;
    font-size: 20px;
    
}
.nav-left ul li:hover
{

    text-decoration-line: underline;
 
 

}
.nav-left ul 
{
    display: flex;
    align-items: center;
    text-decoration-color: beige;
    
}
.nav-left ul li a{

    text-decoration: none;
}
.btn
{


    padding: 8px 15px;
    font-size: 15px;
    border: 2px black;
    border-radius: 6px;
    font-family: var(--font1);
    cursor: pointer;
    transition: all 0.1s ease-in;
    

}
.btn:hover{

    color: aliceblue;
background:var(--main-bg-color);

}
.content-right img{
display: flex;
    height:300px;
    width:300px;
    border:2px solid

    
}
.form-input{

    padding: 8px 9px;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 6px;
    font-family: var(--font1);
    padding-top: 6px;

}
.color
{

    text-decoration-color: white;
}